@use "../../styles/variables" as *;
@use "../../styles/mixin" as *;
@use "sass:map";

.header-container {
  @include flexbox($justify: center);
  width: 100%;
  padding: 3rem;

  .header {
    width: 80%;
    height: 5.375rem;
    @include flexbox($justify: space-between, $align: center);
    border-radius: 3rem;
    padding: 0 3.6rem;
    background-color: map.get($color-gray, lighter);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &__logo {
      display: flex;
      align-items: center;
      gap: 1.2rem;

      img {
        width: 2.5rem;
        height: 3rem;
      }

      h1 {
        font-size: 1.6rem;
        font-weight: 600;
        color: map.get($color-gray, default);
      }
    }

    &__contact-btn{
        padding: 1rem 1.5rem;
        background-color: map.get($color-brand, default);
        transition: all 0.2s ease-in;
        border-radius: 2rem;
        border: none;
        color: white;
        font-weight: 700;

        &:focus {
            outline: 2px solid map.get($color-polo-blue, hover);
        }
    
        &:hover {
            background-color: map.get($color-brand, hover);
            color: map.get($color-gray, default);
        }
    }
  }
}
